DATABASE_HOST=localhost
DATABASE_PORT=your_database_port_number
DATABASE_USER=root
DATABASE_PASSWORD=your_database_password_here
DATABASE_NAME=samastock_db
DATABASE_URL="postgresql://postgres:password@localhost:5432/db_name?schema=public"
JWT_SECRET="your_jwt_secret_here"
NODE_ENV=production

VITE_API_URL=https://ton-backend.onrender.com/api   
# LOGS
LOG_LEVEL=debug
LOG_RETENTION_DAYS=30